/* テンプレートの基本スタイル */
:root {
    --primary: #00B98E; /* メインカラー */
    --light: #F3F6F8;   /* ライトカラー */
    --dark: #0E2E50;    /* ダークカラー */
}

/* スピナーのスタイル */
#spinner {
    opacity: 0; /* 初期状態では透明 */
    visibility: hidden; /* 初期状態では見えない */
    transition: opacity .5s ease-out, visibility 0s linear .5s; /* フェードアウト */
    z-index: 99999; /* 最前面に表示 */
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s; /* フェードイン */
    visibility: visible; /* 見えるようにする */
    opacity: 1; /* 不透明にする */
}

/* ページ上部に戻るボタン */
.back-to-top {
    position: fixed; /* 固定表示 */
    display: none; /* 初期状態では非表示 */
    right: 45px; /* 右から45px */
    bottom: 45px; /* 下から45px */
    z-index: 99; /* 表示優先度を高くする */
}

.my-6 {
    margin-top: 6rem; /* 上下のマージンを6remに設定 */
    margin-bottom: 6rem;
}

.py-6 {
    padding-top: 6rem; /* 上下のパディングを6remに設定 */
    padding-bottom: 6rem;
}

/* ボタンのスタイル */
.btn {
    font-weight: 500; /* フォントの太さを設定 */
    transition: .5s; /* トランジションを設定 */
}

.btn.btn-primary,
.btn.btn-outline-primary:hover {
    color: #FFFFFF; /* テキストの色を白に設定 */
}

.btn-square {
    width: 38px; /* 幅を38pxに設定 */
    height: 38px; /* 高さを38pxに設定 */
}

.btn-sm-square {
    width: 32px; /* 幅を32pxに設定 */
    height: 32px; /* 高さを32pxに設定 */
}

.btn-lg-square {
    width: 48px; /* 幅を48pxに設定 */
    height: 48px; /* 高さを48pxに設定 */
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0; /* パディングをリセット */
    display: flex; /* フレックスボックスを使用 */
    align-items: center; /* 垂直方向の中央揃え */
    justify-content: center; /* 水平方向の中央揃え */
    font-weight: normal; /* フォントの太さを通常に設定 */
    border-radius: 50px; /* 角を丸くする */
}

/* ナビゲーションバーのスタイル */
.navbar {
    position: absolute; /* 絶対位置 */
    width: 100%; /* 幅を100%に設定 */
    top: 0; /* 上部に配置 */
    left: 0; /* 左に配置 */
    z-index: 999; /* 表示優先度を高くする */
    background: var(--primary); /* 背景色をメインカラーに設定 */
}

.navbar .navbar-nav .nav-link {
    position: relative; /* 相対位置 */
    margin-left: 25px; /* 左に25pxのマージン */
    padding: 35px 0; /* 上下に35pxのパディング */
    color: #FFFFFF; /* テキストの色を白に設定 */
    font-weight: 500; /* フォントの太さを設定 */
    outline: none; /* アウトラインを削除 */
    transition: .5s; /* トランジションを設定 */
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: #FFFFFF; /* ホバー時とアクティブ時のテキストの色を白に設定 */
}

.sticky-top.navbar {
    position: fixed; /* 固定表示 */
    background: #FFFFFF; /* 背景色を白に設定 */
}

.sticky-top.navbar .navbar-nav .nav-link {
    padding: 20px 0; /* 上下に20pxのパディング */
    color: var(--dark); /* テキストの色をダークカラーに設定 */
}

.sticky-top.navbar .navbar-nav .nav-link:hover,
.sticky-top.navbar .navbar-nav .nav-link.active {
    color: var(--primary); /* ホバー時とアクティブ時のテキストの色をメインカラーに設定 */
}

.navbar .navbar-brand h1 {
    color: #FFFFFF; /* テキストの色を白に設定 */
}

.navbar .navbar-brand img {
    max-height: 60px; /* 画像の最大高さを60pxに設定 */
    transition: .5s; /* トランジションを設定 */
}

.sticky-top.navbar .navbar-brand img {
    max-height: 45px; /* 画像の最大高さを45pxに設定 */
}
/* スクロールした際のnavbarのスタイル */
.sticky-top.navbar {
    background: #FFFFFF !important; 
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important; /* 固定時の下線 */
}

/* 初期状態（トップ）のnavbarのスタイル */
.navbar.bg-primary {
    background-color: var(--primary) !important; /* プライマリカラー */
    color: #FFFFFF !important; /* テキストカラーを白に */
}

@media (max-width: 991.98px) {
    .sticky-top.navbar {
        position: relative; /* 相対位置 */
        background: #FFFFFF; /* 背景色を白に設定 */
    }

    .navbar .navbar-collapse {
        margin-top: 15px; /* 上に15pxのマージン */
        border-top: 1px solid #DDDDDD; /* 上部に1pxのボーダー */
    }

    .navbar .navbar-nav .nav-link,
    .sticky-top.navbar .navbar-nav .nav-link {
        padding: 10px 0; /* 上下に10pxのパディング */
        margin-left: 0; /* 左のマージンをリセット */
        color: var(--dark); /* テキストの色をダークカラーに設定 */
    }

    .navbar .navbar-nav .nav-link:hover,
    .navbar .navbar-nav .nav-link.active {
        color: var(--primary); /* ホバー時とアクティブ時のテキストの色をメインカラーに設定 */
    }

    .navbar .navbar-brand h1 {
        color: var(--primary); /* テキストの色をメインカラーに設定 */
    }

    .navbar .navbar-brand img {
        max-height: 45px; /* 画像の最大高さを45pxに設定 */
    }
}

@media (min-width: 992px) {
    .navbar {
        position: absolute; /* 絶対位置 */
        width: 100%; /* 幅を100%に設定 */
        top: 0; /* 上部に配置 */
        left: 0; /* 左に配置 */
        border-bottom: 1px solid rgba(256, 256, 256, .2); /* 下部に1pxのボーダー */
        z-index: 999; /* 表示優先度を高くする */
    }
    
    .sticky-top.navbar {
        position: fixed; /* 固定表示 */
        background: #FFFFFF; /* 背景色を白に設定 */
    }

    .navbar .navbar-nav .nav-link::before {
        position: absolute; /* 絶対位置 */
        content: ""; /* コンテンツを空に設定 */
        width: 100%; /* 幅を100%に設定 */
        height: 2px; /* 高さを2pxに設定 */
        bottom: 10px; /* 下に10pxの配置 */
        left: 0; /* 左に配置 */
        background: #FFFFFF; /* 背景色を白に設定 */
        opacity: 0; /* 初期状態では透明 */
        transition: .5s; /* トランジションを設定 */
    }

    .sticky-top.navbar .navbar-nav .nav-link::before {
        background: var(--primary); /* 背景色をメインカラーに設定 */
    }

    .navbar .navbar-nav .nav-link:hover::before,
    .navbar .navbar-nav .nav-link.active::before {
        bottom: -1px; /* 下に-1pxの配置 */
        left: 0; /* 左に配置 */
        opacity: 1; /* 不透明にする */
    }

    .navbar .navbar-nav .nav-link.nav-contact::before {
        display: none; /* 非表示にする */
    }

    .sticky-top.navbar .navbar-brand h1 {
        color: var(--primary); /* テキストの色をメインカラーに設定 */
    }

    .navbar .nav-item .dropdown-menu {
        display: block; /* ブロック表示 */
        visibility: hidden; /* 初期状態では見えない */
        top: 100%; /* 上部に100%配置 */
        transform: rotateX(-75deg); /* X軸を中心に-75度回転 */
        transform-origin: 0% 0%; /* 回転の起点を設定 */
        transition: .5s; /* トランジションを設定 */
        opacity: 0; /* 初期状態では透明 */
    }

    .navbar .nav-item:hover .dropdown-menu {
        transform: rotateX(0deg); /*X軸を中心に0度回転 */
        visibility: visible; /* 見えるようにする */
        transition: .5s; /* トランジションを設定 */
        opacity: 1; /* 不透明にする */
    }
}

/* ヒーローヘッダーのスタイル */
.hero-header {
    margin-bottom: 0; /* 下に6remのマージン */
    padding: 0; /* 上に12rem、下に9remのパディング */
    background: url(../img/shape-bottom.png) center bottom no-repeat; /* 画像を背景に設定 */

    
}

/* ページヘッダーのスタイル */
.page-header {
    margin-bottom: 6rem; /* 下に6remのマージン */
    padding: 12rem 0 6rem 0; /* 上に12rem、下に6remのパディング */
}

@media (max-width: 991.98px) {
    .hero-header {
        padding: 6rem 0 9rem 0; /* 上に6rem、下に9remのパディング */
    }

    .page-header {
        padding: 6rem 0; /* 上下に6remのパディング */
    }
}

.page-header .breadcrumb-item+.breadcrumb-item::before {
    color: rgba(256, 256, 256, .5); /* 色を半透明の白に設定 */
}

/* サービス項目のスタイル */
.service-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .07); /* 影を設定 */
    border: 1px solid transparent; /* 透明なボーダー */
    transition: .5s; /* トランジションを設定 */
}

.service-item:hover {
    box-shadow: none; /* 影を削除 */
    border-color: var(--primary); /* ボーダーの色をメインカラーに設定 */
}

.service-item .service-icon,
.service-item .service-btn {
    margin: -1px 0 0 -1px; /* マージンを設定 */
    width: 65px; /* 幅を65pxに設定 */
    height: 65px; /* 高さを65pxに設定 */
    display: flex; /* フレックスボックスを使用 */
    align-items: center; /* 垂直方向の中央揃え */
    justify-content: center; /* 水平方向の中央揃え */
    color: #FFFFFF; /* テキストの色を白に設定 */
    background: var(--primary); /* 背景色をメインカラーに設定 */
    border-radius: 5px 0; /* 角を丸くする */
    transition: .5s; /* トランジションを設定 */
}

.service-item .service-btn {
    margin: -1px -1px 0 0; /* マージンを設定 */
    border-radius: 0 5px; /* 角を丸くする */
    opacity: 0; /* 初期状態では透明 */
}

.service-item:hover .service-btn {
    opacity: 1; /* 不透明にする */
}

/* テスティモニアルのカルーセルのスタイル */
.testimonial-carousel .owl-item .testimonial-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .07); /* 影を設定 */
    border: 1px solid transparent; /* 透明なボーダー */
    transform: scale(.85); /* スケールを85%に設定 */
    transition: .5s; /* トランジションを設定 */
}

.testimonial-carousel .owl-item.center .testimonial-item {
    box-shadow: none; /* 影を削除 */
    border-color: var(--primary); /* ボーダーの色をメインカラーに設定 */
    transform: scale(1); /* スケールを100%に設定 */
}

.testimonial-carousel .owl-item .testimonial-item img {
    width: 50px; /* 幅を50pxに設定 */
    height: 50px; /* 高さを50pxに設定 */
}

.testimonial-carousel .owl-nav {
    margin-top: 20px; /* 上に20pxのマージン */
    display: flex; /* フレックスボックスを使用 */
    justify-content: center; /* 中央揃え */
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    margin: 0 12px; /* 左右に12pxのマージン */
    width: 40px; /* 幅を40pxに設定 */
    height: 40px; /* 高さを40pxに設定 */
    display: flex; /* フレックスボックスを使用 */
    align-items: center; /* 垂直方向の中央揃え */
    justify-content: center; /* 水平方向の中央揃え */
    color: var(--primary); /* テキストの色をメインカラーに設定 */
    border: 1px solid var(--primary); /* ボーダーの色をメインカラーに設定 */
    border-radius: 45px; /* 角を丸くする */
    transition: .5s; /* トランジションを設定 */
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    color: #FFFFFF; /* ホバー時のテキストの色を白に設定 */
    background: var(--primary); /* ホバー時の背景色をメインカラーに設定 */
}

/* チーム項目のスタイル */
.team-item {
    position: relative; /* 相対位置 */
    padding: 30px; /* 30pxのパディング */
    text-align: center; /* テキストを中央揃え */
    transition: .5s; /* トランジションを設定 */
    z-index: 1; /* 表示優先度を設定 */
}

.team-item::before,
.team-item::after {
    position: absolute; /* 絶対位置 */
    content: ""; /* コンテンツを空に設定 */
    width: 100%; /* 幅を100%に設定 */
    height: 40%; /* 高さを40%に設定 */
    top: 0; /* 上に配置 */
    left: 0; /* 左に配置 */
    border-radius: 5px; /* 角を丸くする */
    background: #FFFFFF; /* 背景色を白に設定 */
    box-shadow: 0 0 45px rgba(0, 0, 0, .07); /* 影を設定 */
    transition: .5s; /* トランジションを設定 */
    z-index: -1; /* 表示優先度を設定 */
}

.team-item::after {
    top: auto; /* 上の位置をリセット */
    bottom: 0; /* 下に配置 */
}

.team-item:hover::before,
.team-item:hover::after {
    background: var(--primary); /* 背景色をメインカラーに設定 */
}

.team-item h5,
.team-item p {
    transition: .5s; /* トランジションを設定 */
}

.team-item:hover h5,
.team-item:hover p {
    color: #FFFFFF; /* テキストの色を白に設定 */
}

.team-item img {
    padding: 15px; /* 15pxのパディング */
    border: 1px solid var(--primary); /* ボーダーの色をメインカラーに設定 */
}

/* フッターのスタイル */
.footer .btn.btn-social {
    margin-right: 5px; /* 右に5pxのマージン */
    width: 40px; /* 幅を40pxに設定 */
    height: 40px; /* 高さを40pxに設定 */
    display: flex; /* フレックスボックスを使用 */
    align-items: center; /* 垂直方向の中央揃え */
    justify-content: center; /* 水平方向の中央揃え */
    color: var(--light); /* テキストの色をライトカラーに設定 */
    border: 1px solid rgba(256, 256, 256, .1); /* ボーダーの色を設定 */
    border-radius: 40px; /* 角を丸くする */
    transition: .3s; /* トランジションを設定 */
}

.footer .btn.btn-social:hover {
    color: var(--primary); /* ホバー時のテキストの色をメインカラーに設定 */
}

.footer .btn.btn-link {
    display: block; /* ブロック表示 */
    margin-bottom: 10px; /* 下に10pxのマージン */
    padding: 0; /* パディングをリセット */
    text-align: left; /* テキストを左揃え */
    color: var(--light); /* テキストの色をライトカラーに設定 */
    font-weight: normal; /* フォントの太さを通常に設定 */
    transition: .3s; /* トランジションを設定 */
}

.footer .btn.btn-link::before {
    position: relative; /* 相対位置 */
    content: "\f105"; /* コンテンツをFont Awesomeアイコンに設定 */
    font-family: "Font Awesome 5 Free"; /* フォントを設定 */
    font-weight: 900; /* フォントの太さを900に設定 */
    margin-right: 10px; /* 右に10pxのマージン */
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px; /* 文字間隔を1pxに設定 */
    box-shadow: none; /* 影を削除 */
}

.footer .copyright {
    padding: 25px 0; /* 上下に25pxのパディング */
    font-size: 14px; /* フォントサイズを14pxに設定 */
    border-top: 1px solid rgba(256, 256, 256, .1); /* 上部に1pxのボーダー */
}

.footer .copyright a {
    color: var(--light); /* テキストの色をライトカラーに設定 */
}

.footer .footer-menu a {
    margin-right: 15px; /* 右に15pxのマージン */
    padding-right: 15px; /* 右に15pxのパディング */
    border-right: 1px solid rgba(255, 255, 255, .1); /* 右に1pxのボーダー */
}

.footer .footer-menu a:last-child {
    margin-right: 0; /* 右のマージンをリセット */
    padding-right: 0; /* 右のパディングをリセット */
    border-right: none; /* 右のボーダーを削除 */
}

/* Bootstrapのオーバーライド */
.bg-primary {
    --bs-bg-opacity: 1; /* 背景の不透明度を1に設定 */
    background-color: var(--primary) !important; /* 背景色をメインカラーに設定 */
}

.text-primary {
    --bs-text-opacity: 1; /* テキストの不透明度を1に設定 */
    color: var(--primary) !important; /* テキストの色をメインカラーに設定 */
}

.border-primary {
    --bs-border-opacity: 1; /* ボーダーの不透明度を1に設定 */
    border-color: var(--primary) !important; /* ボーダーの色をメインカラーに設定 */
}

.btn-primary {
    --bs-btn-bg: var(--primary); /* ボタンの背景色をメインカラーに設定 */
    --bs-btn-border-color: var(--primary); /* ボタンのボーダー色をメインカラーに設定 */
    --bs-btn-hover-bg: var(--primary); /* ホバー時の背景色をメインカラーに設定 */
    --bs-btn-hover-border-color: var(--primary); /* ホバー時のボーダー色をメインカラーに設定 */
}

/* カード全体の高さを固定 */
.team-item {
    display: flex; /* フレックスボックスを使用 */
    flex-direction: column; /* 垂直方向に配置 */
    justify-content: space-between; /* 上下に均等に配置 */
    align-items: center; /* 水平方向の中央揃え */
    height: 100%; /* 高さを100%に設定 */
    padding: 30px; /* 30pxのパディング */
    box-shadow: 0 0 45px rgba(0, 0, 0, .07); /* 影を設定 */
    border: 1px solid transparent; /* 透明なボーダー */
    transition: .5s; /* トランジションを設定 */
    text-align: center; /* テキストを中央揃え */
    background: #fff; /* 背景色を白に設定 */
}

/* 画像の高さと位置を固定 */
.team-item img {
    height: 250px; /* 画像の高さを250pxに設定 */
    width: 250px; /* 画像の幅を250pxに設定 */
    object-fit: cover; /* 画像のサイズをカバー */
    border-radius: 50%; /* 画像を円形にする */
    margin-bottom: 20px; /* 下に20pxのマージン */
}

/* カード内のテキスト配置を均等に */
.team-item h5,
.team-item p {
    margin: 0; /* マージンをリセット */
    flex-grow: 1; /* 要素を均等に配置 */
    display: flex; /* フレックスボックスを使用 */
    align-items: center; /* 垂直方向の中央揃え */
    justify-content: center; /* 水平方向の中央揃え */
    text-align: center; /* テキストを中央揃え */
    width: 100%; /* 幅を100%に設定 */
}

/* アイコンボタンを底部に配置 */
.team-item .d-flex {
    margin-top: auto; /* 上に自動のマージン */
}

/* カテゴリ一覧のh5タグを太文字にする */
.service-title {
    font-weight: bold !important; /* フォントの太さを太字に設定 */
}

.download-text {
    font-size: 64px; /* フォントサイズを64pxに設定 */
    color: gray; /* テキストの色をグレーに設定 */
    font-weight: bold; /* フォントの太さを太字に設定 */
    margin-bottom: -60px; /* 下に-60pxのマージン */
}

/* 初心者向けアイコン */
.icon-image {
    width: 40px; /* 幅を40pxに設定 */
    height: 40px; /* 高さを40pxに設定 */
    border-radius: 50%; /* 画像を円形にする */
    object-fit: cover; /* 画像のサイズをカバー */
}

/* 検索結果についてのスタイル */
.search-container {
    margin-top: 80px; /* 上に80pxのマージン */
    padding: 20px; /* 20pxのパディング */
    background-color: #f9f9f9; /* 背景色を薄いグレーに設定 */
}

.search-bar {
    display: flex; /* フレックスボックスを使用 */
    justify-content: center; /* 水平方向の中央揃え */
    align-items: center; /* 垂直方向の中央揃え */
    margin-bottom: 20px; /* 下に20pxのマージン */
    gap: 10px; /* 各要素間の間隔を10pxに設定 */
}

.search-bar input,
.search-bar select {
    padding: 10px; /* 10pxのパディング */
    border: 1px solid #ccc; /* ボーダーの色をグレーに設定 */
    border-radius: 5px; /* 角を丸くする */
    flex: 1; /* 入力フィールドと選択フィールドが均等に広がる */
}

.search-bar button {
    padding: 10px 20px; /* 上下に10px、左右に20pxのパディング */
    border: none; /* ボーダーを削除 */
    background-color: #28a745; /* 背景色を緑に設定 */
    color: #fff; /* テキストの色を白に設定 */
    border-radius: 5px; /* 角を丸くする */
    cursor: pointer; /* カーソルをポインタに変更 */
}

.search-results {
    display: flex; /* フレックスボックスを使用 */
    justify-content: center; /* 水平方向の中央揃え */
    flex-direction: column; /* 垂直方向に配置 */
    align-items: center; /* 垂直方向の中央揃え */
}

.search-results ul {
    list-style-type: none; /* リストスタイルを削除 */
    padding: 0; /* パディングをリセット */
    margin: 0; /* マージンをリセット */
    text-align: center; /* テキストを中央揃え */
}

.search-results li {
    margin: 10px 0; /* 上下に10pxのマージン */
    padding: 10px; /* 10pxのパディング */
    border: 1px solid #ccc; /* ボーダーの色をグレーに設定 */
    border-radius: 5px; /* 角を丸くする */
    background-color: #fff; /* 背景色を白に設定 */
    width: 100%; /* 幅を100%に設定 */
    max-width: 600px; /* 最大幅を600pxに設定 */
}

.search-results p {
    margin: 10px 0; /* 上下に10pxのマージン */
    padding: 10px; /* 10pxのパディング */
    border-radius: 5px; /* 角を丸くする */
    background-color: #fff; /* 背景色を白に設定 */
    text-align: center; /* テキストを中央揃え */
    width: 100%; /* 幅を100%に設定 */
    max-width: 600px; /* 最大幅を600pxに設定 */
}

/* mypage.css */
.mypage-container {
    margin-top: 120px; /* 上に120pxのマージン */
    padding: 20px; /* 20pxのパディング */
    background-color: #f9f9f9; /* 背景色を追加して見やすく */
}

.search-bar {
    display: flex; /* フレックスボックスを使用 */
    justify-content: center; /* 水平方向の中央揃え */
    align-items: center; /* 垂直方向の中央揃え */
    margin-bottom: 20px; /* 下に20pxのマージン */
    gap: 10px; /* 各要素間の間隔を10pxに設定 */
}

.search-bar input,
.search-bar select {
    padding: 10px; /* 10pxのパディング */
    border: 1px solid #ccc; /* ボーダーの色をグレーに設定 */
    border-radius: 5px; /* 角を丸くする */
    flex: 1; /* 入力フィールドと選択フィールドが均等に広がる */
}

.search-bar button {
    padding: 10px 20px; /* 上下に10px、左右に20pxのパディング */
    border: none; /* ボーダーを削除 */
    background-color: #28a745; /* 背景色を緑に設定 */
    color: #fff; /* テキストの色を白に設定 */
    border-radius: 5px; /* 角を丸くする */
    cursor: pointer; /* カーソルをポインタに変更 */
}

.search-results {
    display: flex; /* フレックスボックスを使用 */
    justify-content: center; /* 水平方向の中央揃え */
    flex-direction: column; /* 垂直方向に配置 */
    align-items: center; /* 垂直方向の中央揃え */
}

.search-results ul {
    list-style-type: none; /* リストスタイルを削除 */
    padding: 0; /* パディングをリセット */
    margin: 0; /* マージンをリセット */
    text-align: center; /* テキストを中央揃え */
}

.search-results li {
    margin: 10px 0; /* 上下に10pxのマージン */
    padding: 10px; /* 10pxのパディング */
    border: 1px solid #ccc; /* ボーダーの色をグレーに設定 */
    border-radius: 5px; /* 角を丸くする */
    background-color: #fff; /* 背景色を白に設定 */
    width: 100%; /* 幅を100%に設定 */
    max-width: 600px; /* 最大幅を600pxに設定 */
}

.search-results p {
    margin: 10px 0; /* 上下に10pxのマージン */
    padding: 10px; /* 10pxのパディング */
    border-radius: 5px; /* 角を丸くする */
    background-color: #fff; /* 背景色を白に設定 */
    text-align: center; /* テキストを中央揃え */
    width: 100%; /* 幅を100%に設定 */
    max-width: 600px; /* 最大幅を600pxに設定 */
}

/* .mypage-container に適用されるスタイル */
.mypage-container {
    margin-top: 160px; /* ナビゲーションバーとコンテンツの間に十分なスペースを確保 */
    padding: 20px;
    background-color: #f9f9f9; /* 背景色を薄いグレーに設定 */
}

/* スクロール時にナビゲーションバーが固定されるときのスタイルを調整 */
.sticky-top.navbar + .mypage-container {
    margin-top: 160px; /* 固定ナビゲーションバーの高さを考慮して調整 */
}

body {
    padding-top: 80px; /* 必要に応じて調整 */
}

/* 新たに追加するスタイル */
.navbar {
    position: fixed !important;
    width: 100% !important;
    top: 0 !important;
    left: 0 !important;
    z-index: 999 !important;
    background: #FFFFFF !important; 
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important; /* 固定時の下線 */
}

body {
    padding-top: 80px !important; /* 固定されたナビゲーションバーの高さを考慮 */
}

.mypage-container {
    margin-top: 160px !important;
}

/* カード全体の高さを固定 */
.mypage-item {
    display: flex; /* フレックスボックスを使用 */
    flex-direction: column; /* 垂直方向に配置 */
    justify-content: space-between; /* 上下に均等に配置 */
    align-items: center; /* 水平方向の中央揃え */
    height: 100%; /* 高さを100%に設定 */
    padding: 30px; /* 30pxのパディング */
    box-shadow: 0 0 45px rgba(0, 0, 0, .07); /* 影を設定 */
    border: 1px solid transparent; /* 透明なボーダー */
    transition: .5s; /* トランジションを設定 */
    text-align: center; /* テキストを中央揃え */
    background: #fff; /* 背景色を白に設定 */
}

/* 画像の高さと位置を固定 */
.mypage-item img {
    height: 250px; /* 画像の高さを250pxに設定 */
    width: 250px; /* 画像の幅を250pxに設定 */
    object-fit: cover; /* 画像のサイズをカバー */
    border-radius: 50%; /* 画像を円形にする */
    margin-bottom: 20px; /* 下に20pxのマージン */
}

/* カード内のテキスト配置を均等に */
.mypage-item h5,
.mypage-item p {
    margin: 0; /* マージンをリセット */
    flex-grow: 1; /* 要素を均等に配置 */
    display: flex; /* フレックスボックスを使用 */
    align-items: center; /* 垂直方向の中央揃え */
    justify-content: center; /* 水平方向の中央揃え */
    text-align: center; /* テキストを中央揃え */
    width: 100%; /* 幅を100%に設定 */
}

/* アイコンボタンを底部に配置 */
.mypage-item .d-flex {
    margin-top: auto; /* 上に自動のマージン */
}

/* カテゴリ一覧のh5タグを太文字にする */
.service-title {
    font-weight: bold !important; /* フォントの太さを太字に設定 */
}

/* ダウンロードテキストのスタイル */
.download-text {
    font-size: 64px; /* フォントサイズを64pxに設定 */
    color: gray; /* テキストの色をグレーに設定 */
    font-weight: bold; /* フォントの太さを太字に設定 */
    margin-bottom: -60px; /* 下に-60pxのマージン */
}

/* 初心者向けアイコン */
.icon-image {
    width: 40px; /* 幅を40pxに設定 */
    height: 40px; /* 高さを40pxに設定 */
    border-radius: 50%; /* 画像を円形にする */
    object-fit: cover; /* 画像のサイズをカバー */
}

/* 検索結果についてのスタイル */
.search-container {
    margin-top: 80px; /* 上に80pxのマージン */
    padding: 20px; /* 20pxのパディング */
    background-color: #f9f9f9; /* 背景色を薄いグレーに設定 */
}

.search-bar {
    display: flex; /* フレックスボックスを使用 */
    justify-content: center; /* 水平方向の中央揃え */
    align-items: center; /* 垂直方向の中央揃え */
    margin-bottom: 20px; /* 下に20pxのマージン */
    gap: 10px; /* 各要素間の間隔を10pxに設定 */
}

.search-bar input,
.search-bar select {
    padding: 10px; /* 10pxのパディング */
    border: 1px solid #ccc; /* ボーダーの色をグレーに設定 */
    border-radius: 5px; /* 角を丸くする */
    flex: 1; /* 入力フィールドと選択フィールドが均等に広がる */
}

.search-bar button {
    padding: 10px 20px; /* 上下に10px、左右に20pxのパディング */
    border: none; /* ボーダーを削除 */
    background-color: #28a745; /* 背景色を緑に設定 */
    color: #fff; /* テキストの色を白に設定 */
    border-radius: 5px; /* 角を丸くする */
    cursor: pointer; /* カーソルをポインタに変更 */
}

.search-results {
    display: flex; /* フレックスボックスを使用 */
    justify-content: center; /* 水平方向の中央揃え */
    flex-direction: column; /* 垂直方向に配置 */
    align-items: center; /* 垂直方向の中央揃え */
}

.search-results ul {
    list-style-type: none; /* リストスタイルを削除 */
    padding: 0; /* パディングをリセット */
    margin: 0; /* マージンをリセット */
    text-align: center; /* テキストを中央揃え */
}

.search-results li {
    margin: 10px 0; /* 上下に10pxのマージン */
    padding: 10px; /* 10pxのパディング */
    border: 1px solid #ccc; /* ボーダーの色をグレーに設定 */
    border-radius: 5px; /* 角を丸くする */
    background-color: #fff; /* 背景色を白に設定 */
    width: 100%; /* 幅を100%に設定 */
    max-width: 600px; /* 最大幅を600pxに設定 */
}

.search-results p {
    margin: 10px 0; /* 上下に10pxのマージン */
    padding: 10px; /* 10pxのパディング */
    border-radius: 5px; /* 角を丸くする */
    background-color: #fff; /* 背景色を白に設定 */
    text-align: center; /* テキストを中央揃え */
    width: 100%; /* 幅を100%に設定 */
    max-width: 600px; /* 最大幅を600pxに設定 */
}

/* .mypage-container に適用されるスタイル */
.mypage-container {
    margin-top: 120px; /* 上に120pxのマージン */
    padding: 20px; /* 20pxのパディング */
    background-color: #f9f9f9; /* 背景色を薄いグレーに設定 */
}

/* スクロール時にナビゲーションバーが固定されるときのスタイルを調整 */
.sticky-top.navbar + .mypage-container {
    margin-top: 160px; /* 固定ナビゲーションバーの高さを考慮して調整 */
}

body {
    padding-top: 80px; /* 必要に応じて調整 */
}

/* 新たに追加するスタイル */
.navbar {
    position: fixed !important;
    width: 100% !important;
    top: 0 !important;
    left: 0 !important;
    z-index: 999 !important;
    background: #FFFFFF !important; /* 固定時の背景色 */
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important; /* 固定時の下線 */
}

body {
    padding-top: 80px !important; /* 固定されたナビゲーションバーの高さを考慮 */
}

.mypage-container {
    margin-top: 160px !important; /* 必要に応じて調整 */
}

/* カード全体の高さを固定 */
.mypage-item {
    display: flex; /* フレックスボックスを使用 */
    flex-direction: column; /* 垂直方向に配置 */
    justify-content: space-between; /* 上下に均等に配置 */
    align-items: center; /* 水平方向の中央揃え */
    height: 100%; /* 高さを100%に設定 */
    padding: 30px; /* 30pxのパディング */
    box-shadow: 0 0 45px rgba(0, 0, 0, .07); /* 影を設定 */
    border: 1px solid transparent; /* 透明なボーダー */
    transition: .5s; /* トランジションを設定 */
    text-align: center; /* テキストを中央揃え */
    background: #fff; /* 背景色を白に設定 */
}

/* 画像の高さと位置を固定 */
.mypage-item img {
    height: 250px; /* 画像の高さを250pxに設定 */
    width: 250px; /* 画像の幅を250pxに設定 */
    object-fit: cover; /* 画像のサイズをカバー */
    border-radius: 50%; /* 画像を円形にする */
    margin-bottom: 20px; /* 下に20pxのマージン */
}

/* カード内のテキスト配置を均等に */
.mypage-item h5,
.mypage-item p {
    margin: 0; /* マージンをリセット */
    flex-grow: 1; /* 要素を均等に配置 */
    display: flex; /* フレックスボックスを使用 */
    align-items: center; /* 垂直方向の中央揃え */
    justify-content: center; /* 水平方向の中央揃え */
    text-align: center; /* テキストを中央揃え */
    width: 100%; /* 幅を100%に設定 */
}

/* アイコンボタンを底部に配置 */
.mypage-item .d-flex {
    margin-top: auto; /* 上に自動のマージン */
}

/* カテゴリ一覧のh5タグを太文字にする */
.service-title {
    font-weight: bold !important; /* フォントの太さを太字に設定 */
}

/* ダウンロードテキストのスタイル */
.download-text {
    font-size: 64px; /* フォントサイズを64pxに設定 */
    color: gray; /* テキストの色をグレーに設定 */
    font-weight: bold; /* フォントの太さを太字に設定 */
    margin-bottom: -60px; /* 下に-60pxのマージン */
}

/* 初心者向けアイコン */
.icon-image {
    width: 40px; /* 幅を40pxに設定 */
    height: 40px; /* 高さを40pxに設定 */
    border-radius: 50%; /* 画像を円形にする */
    object-fit: cover; /* 画像のサイズをカバー */
}

/* 検索結果についてのスタイル */
.search-container {
    margin-top: 80px; /* 上に80pxのマージン */
    padding: 20px; /* 20pxのパディング */
    background-color: #f9f9f9; /* 背景色を薄いグレーに設定 */
}

.search-bar {
    display: flex; /* フレックスボックスを使用 */
    justify-content: center; /* 水平方向の中央揃え */
    align-items: center; /* 垂直方向の中央揃え */
    margin-bottom: 20px; /* 下に20pxのマージン */
    gap: 10px; /* 各要素間の間隔を10pxに設定 */
}

.search-bar input,
.search-bar select {
    padding: 10px; /* 10pxのパディング */
    border: 1px solid #ccc; /* ボーダーの色をグレーに設定 */
    border-radius: 5px; /* 角を丸くする */
    flex: 1; /* 入力フィールドと選択フィールドが均等に広がる */
}

.search-bar button {
    padding: 10px 20px; /* 上下に10px、左右に20pxのパディング */
    border: none; /* ボーダーを削除 */
    background-color: #28a745; /* 背景色を緑に設定 */
    color: #fff; /* テキストの色を白に設定 */
    border-radius: 5px; /* 角を丸くする */
    cursor: pointer; /* カーソルをポインタに変更 */
}

/* カテゴリカードのスタイル */
.category-card {
    margin: 20px; /* 各カード間のマージン */
    background: #fff; /* 背景色を白に設定 */
    border-radius: 15px; /* 角を丸くする */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* 影を設定 */
    transition: transform 0.2s; /* トランジションを設定 */
}

.category-card:hover {
    transform: scale(1.05); /* ホバー時に拡大 */
}

.category-card img {
    border-top-left-radius: 15px; /* 左上の角を丸くする */
    border-top-right-radius: 15px; /* 右上の角を丸くする */
    width: 100%; /* 幅を100%に設定 */
    height: auto; /* 高さを自動に設定 */
}

.category-card-body {
    padding: 20px; /* 20pxのパディング */
    text-align: center; /* テキストを中央揃え */
}

.category-card-title {
    font-size: 1.5rem; /* フォントサイズを1.5remに設定 */
    margin-bottom: 10px; /* 下に10pxのマージン */
    font-weight: bold; /* フォントの太さを太字に設定 */
}

.category-card-text {
    font-size: 1rem; /* フォントサイズを1remに設定 */
    color: #666; /* テキストの色をグレーに設定 */
}

/* カードのスタイル */
.card {
    border: 1px solid #ddd; /* ボーダーの色を薄いグレーに設定 */
    border-radius: 8px; /* 角を丸くする */
    overflow: hidden; /* オーバーフローを隠す */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 影を設定 */
    transition: transform 0.2s; /* トランジションを設定 */
}

.card:hover {
    transform: scale(1.05); /* ホバー時に拡大 */
}

.card-img-top {
    width: 100%; /* 幅を100%に設定 */
    height: 180px; /* 高さを180pxに設定 */
    object-fit: cover; /* 画像のサイズをカバー */
}

.card-body {
    padding: 20px; /* 20pxのパディング */
    text-align: center; /* テキストを中央揃え */
}

.card-title {
    font-size: 1.25rem; /* フォントサイズを1.25remに設定 */
    margin-bottom: 10px; /* 下に10pxのマージン */
    font-weight: bold; /* フォントの太さを太字に設定 */
}

.card-text {
    font-size: 1rem; /* フォントサイズを1remに設定 */
    color: #666; /* テキストの色をグレーに設定 */
}

/* カードの影とトランジション */
.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 影を設定 */
    transition: 0.3s; /* トランジションを設定 */
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* ホバー時の影を設定 */
}

.card-img-top {
    width: 100%; /* 幅を100%に設定 */
    height: 200px; /* 高さを200pxに設定 */
    object-fit: cover; /* 画像のサイズをカバー */
}

.card-body {
    text-align: center; /* テキストを中央揃え */
}

.card-title {
    font-size: 1.25rem; /* フォントサイズを1.25remに設定 */
    font-weight: bold; /* フォントの太さを太字に設定 */
}

.card-text {
    font-size: 1rem; /* フォントサイズを1remに設定 */
    color: #6c757d; /* テキストの色をグレーに設定 */
}

/* モーダルのスタイル */
.modal-content {
    padding: 20px;
    border-radius: 10px;
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}

#promptContent {
    width: 100%;
    height: auto;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1rem;
}

/* モーダル内のテキストエリアのスタイルを調整 */
#promptContent {
    font-family: 'Heebo', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* ページ下部の余裕の調整 */
.margin-bottom-large {
    margin-bottom: 40px; 
}

/* アンカーリンクの位置調整用のスタイル */
.anchor-adjust::before {
    content: "";
    display: block;
    height: 10em; /* 調整したい高さを指定 */
    margin-top: 4em;  /* 上にずらす高さを指定 */
    visibility: hidden;
}

/* カードのカスタムスタイル */
.card-custom {
    max-width: 600px; /* カードの最大幅を指定 */
    margin: auto; /* カードを中央に配置 */
    padding: 20px; /* カード内側の余白 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* カードのシャドウ */
    border-radius: 8px; /* カードの角を丸くする */
}

.card-img-top {
    height: auto; /* 画像の高さを自動に設定 */
    width: 100%; /* 画像の幅を100%に設定 */
    border-top-left-radius: 8px; /* 画像の角を丸くする */
    border-top-right-radius: 8px; /* 画像の角を丸くする */
}

.card-body {
    padding: 20px; /* カードのテキスト部分の内側の余白 */
}

.card-text {
    margin-bottom: 1em; /* 各段落の下に余白を追加 */
}

.card-custom .card-text {
    white-space: pre-wrap; /* 改行を保持してテキストを表示 */
    margin-bottom: 1em; /* テキストブロック間の余白を追加 */
    padding: 1em; /* テキストブロックの内側の余白を追加 */
    background-color: #fff; /* 背景色を白に設定 */
    border-radius: 8px; /* 角を丸くする */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 軽い影を追加 */
    text-align: left; /* テキストを左揃えにする */
}

.title-center {
    text-align: center;
}

/* カードとタイトルの間に余白を追加 */
.text-center.mb-4 {
    margin-bottom: 10rem; /* 追加の余白を設定、必要に応じて値を調整 */
}

/* フェードインアニメーションの定義 */
.fade-in {
    animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* フェードアウトアニメーションの定義 */
.fade-out {
    animation: fadeOut 0.5s ease-in-out forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* 検索セクションとプロンプトカードの間に余白を追加 */
.search-bar {
    margin-bottom: 50px; /* 必要な余白を指定 */
}

/*  プロンプトカードの境界線をぼやかす */
.blur-bottom {
    position: relative;
    overflow: hidden;
}

.blur-bottom::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px; /* ぼかす高さ */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}


/* モーダルのスタイル */
.modal-content {
    padding: 20px;
    border-radius: 10px;
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}

#promptContent {
    width: 100%;
    height: auto;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1rem;
}

/* モーダル内のテキストエリアのスタイルを調整 */
#promptContent {
    font-family: 'Heebo', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}