{% extends "base.html" %}
{% load static %}
{% block title %}Creative List{% endblock %}
{% block extra_head %}
<style>
    body.creative-list-page {
        background-color: white;
        color: black;
    }
    .creative-list-container {
        text-align: center;
        margin-top: 100px;
    }
    .creative-list-container h3 {
        font-size: 24px;
        margin-bottom: 20px;
    }
    .creative-list-container img {
        width: 140px;
        height: 140px;
    }
    .creative-list-container a {
        font-size: 18px;
        color: #007bff;
    }
    /* Override base.css styles */
    .navbar, .navbar-nav {
        background-color: #00B98E !important; /* 薄緑色の背景 */
        color: #FFFFFF !important; /* 白の文字色 */
    }
    .navbar-brand, .nav-link, .dropdown-item {
        color: gray /* グレーの文字色 */
    }
    /* Ensure navbar stays at the top */
    .navbar {
        position: fixed;
        width: 100%;
        z-index: 1000;
        top: 0;
    }
    .creative-list-container {
        padding-top: 100px; /* Adjust padding to prevent overlap with navbar */
    }
</style>
{% endblock %}

{% block body_class %}creative-list-page{% endblock %}

{% block content %}
<div class="container creative-list-container">
    <div class="container">
        <h1>Creative List</h1>
        <ul>
            {% for prompt in prompts %}
                <li>{{ prompt.title }}: {{ prompt.content }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
