{% extends "base.html" %}
{% load static custom_filters %}

{% block title %}My Page{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/mypage.css' %}">
{% endblock %}

{% block content %}
{% include 'navbar.html' %}
<div class="container mypage-container mt-5">
    <h1>My Page</h1>
    <div class="search-bar">
        <form action="{% url 'promptapp:search' %}" method="get">
            <input type="text" name="q" placeholder="キーワードを入力">
            <select name="category">
                <option value="">カテゴリを選択</option>
                {% for category in categories %}
                    <option value="{{ category.name }}">{{ category_map|get_item:category.name }}</option>
                {% endfor %}
            </select>
            <button type="submit">検索</button>
        </form>
    </div>
    <div class="search-results">
        {% if prompts %}
            <ul>
                {% for prompt in prompts %}
                    <li>{{ prompt.title }}: {{ prompt.description }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>検索結果が見つかりませんでした。</p>
        {% endif %}
    </div>
</div>
<!-- ホームに戻るボタン -->
<div class="text-center mt-4">
    <a href="{% url 'promptapp:index' %}" class="btn btn-primary">Homeに戻る</a>
</div>
{% endblock %}
