{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block title %}{{ prompt.title }}{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <h1>{{ prompt.title }}</h1>
            <p>{{ prompt.description }}</p>
            <div class="content">
                <p>{{ prompt.content }}</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <img src="{% static selected_photos|get_item:prompt.category.name %}" class="card-img-top" alt="Category Image">
                <div class="card-body">
                    <h5 class="card-title">{{ prompt.category.name|translate_category }}</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center mt-4">
    <a href="{% url 'promptapp:search' %}" class="btn btn-primary">Back to Search</a>
</div>
{% endblock %}
