{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block title %}{{ prompt.title }}{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<script src="{% static 'js/main.js' %}"></script>
<script>
    function goBack() {
        if (document.referrer) {
            window.location.href = document.referrer;
        } else {
            window.history.back();
        }
    }
</script>
{% endblock %}

{% block content %}
<div class="container mt-5 prompt-detail">
    <div class="row justify-content-center">
        <div class="col-lg-8 text-center border p-4 rounded">
            <img src="{% static selected_photos|get_item:prompt.category.name %}" class="img-fluid mb-3" alt="Category Image">
            <h1 class="display-5 mb-3">{{ prompt.title }}</h1>
            <div class="content">
                <pre>{{ prompt.content }}</pre>
            </div>
            <button id="edit-button" class="btn btn-secondary mt-4" data-bs-toggle="modal" data-bs-target="#editModal">編集/コピーする</button>
        </div>
    </div>
</div>

<!-- 編集モーダル -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">編集してコピーができます</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6>自分に合わせた内容に編集</h6>
                <textarea id="promptContent" class="form-control" rows="10">{{ prompt.content }}</textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                <button type="button" class="btn btn-success" id="copyButton">コピーする</button>
            </div>
        </div>
    </div>
</div>

<!-- 前のページに戻るボタンとホームに戻るボタン -->
<div class="text-center mt-4 home-button footer-margin">
    <a href="javascript:goBack()" class="btn btn-secondary">前ページ</a>
    <a href="{% url 'promptapp:index' %}" class="btn btn-primary">Home</a>
</div>
{% endblock %}
