{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block title %}検索{% endblock %}

{% block content %}
<div class="container-xxl py-6">
    <div class="container">
        <form method="GET" action="{% url 'promptapp:search' %}">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="KEYWORD" name="keyword" value="{{ request.GET.keyword }}">
                <select class="form-select" name="category">
                    <option value="">CATEGORY</option>
                    {% for category in categories %}
                        <option value="{{ category.id }}" {% if category.id|stringformat:"s" == request.GET.category %}selected{% endif %}>{{ category.name }}</option>
                    {% endfor %}
                </select>
                <button class="btn btn-primary" type="submit">SEARCH</button>
            </div>
        </form>
        <div class="row">
            {% for prompt in prompts %}
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="{% url 'promptapp:prompt_detail' prompt.pk %}">
                            <img src="{% static selected_photos|get_item:prompt.category.name %}" class="card-img-top" alt="Prompt Image">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">{{ prompt.title }}</h5>
                            <p class="card-text">{{ prompt.description }}</p>
                            <p class="card-text">{{ prompt.content }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- ホームに戻るボタン -->
<div class="text-center mt-4 margin-bottom-large">
    <a href="{% url 'promptapp:index' %}" class="btn btn-primary">Home</a>
</div>
{% endblock %}
